<div class="jumbotron shadow-sm mt-4">
  <h1 class="display-4">Bem-vindo ao Blog do Node!</h1>
  <p class="lead">Este é um BLOG simples, desenvolvido com NodeJS + Express + MongoDB</p>
  <hr class="my-4">
  <p>Aqui você pode ler sobre as novidades do mundo da computação</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Criar uma conta</a>
  </p>
</div>
<hr>
<h2 class="text-center">Postagens Recentes</h2>
{{#if postagens }}
    <div class="row mb-5">
        {{#each postagens}}
            <div class="col-md-4">
                <div class="card mt-4 shadow-sm">
                    <img src="{{img}}" alt="Card Imagem" class="card-img">
                    <div class="card-body">
                        <h4 class="badge badge-primary ml-auto">{{categoria.nome}}</h4>
                        <h2>{{titulo}}</h2>
                        <br>
                        <h4 class="card-subtitle mb-2 text-muted">{{descricao}}</h4>
                        <br>
                         <a href="/postagem/{{slug}}">
                            <button class="btn btn-primary btn-block">Ler Mais</button>
                        </a>
                    </div>
                    <div class="card-footer float-right text-muted d-flex justify-content-between bg-transparent border-top-0">
                        <div class="views ml-auto"><i class="fa fa-calendar"></i> {{#formatDate date}}{{/formatDate}}</div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
{{/if}}